/*

Modelo de Caja. es la forma en que CSS ve a los elementos HTMl ¿y como los ve?
como si fueran cajas con las siguientes propiedades
1. el contenido (content), (texto) del elemento HTMl, tomando en cuenta sus dimensiones (width & height)
2. el borde (border): Lo que deliminta cada uno de los elementos HTML
3. el relleno (padding): son las distancias internas (la distancia del borde al contenido)
4. el margen (margin): son las distancias externas (la disctancia entre el elemento HTML y sus elementos hermanos o padres)

Dentro del modelo de caja hay que considerar que una caja tendras 4 lados en base a las manesillas del reloj
1 arriba (top)
2. derecha (rigth)
3. abajo (bottom)
4 izquierda (left)

*/

body {
    margin: 0;
}


/*esto es una caja en el h1 ver css reference*/

h1 {
    width: 400px;
    height: 200px;
    /*Propiedades tipo shorthand*/
    border-color: green;
    border-top-color: red;
    border-width: medium;
    /*thin: 1px, medium: 3px, thick: 5px*/
    border-style: solid;
    /*se puede simplificar segun las necesidades*/
    border: 2px dashed darkblue;
}

.caja-uno,
.caja-dos {
    background-color: chocolate;
    border: medium solid orange;
    padding: 20px;
    /*recordemos que el padding son las distancias internas del borde al contenido*/
    /*margin: 20px;*/
    /*recordemos que el margin son las distancias externas*/
}